.cat{
	transform: scale(1.0);
	transition: 1s all;
}

.cat:hover{
	transform: rotate(180deg) scale(1.0);
}

#bit{
	color:#FF0000;
}

#kak{
	color:#27C81B;
}

#pak{
	color:#1700C8;
}